<a href="https://colab.research.google.com/github/Krylze/Data-Science/blob/main/Meta_2_3_Aplicar_t%C3%A9cnicas_de_limpieza_de_datos_usando_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import seaborn as sns
import pandas as pd

In [ ]:
dfTaxis = sns.load_dataset('taxis')
print(dfTaxis.head(5))

               pickup             dropoff  passengers  distance  fare   tip  \
0 2019-03-23 20:21:09 2019-03-23 20:27:24           1      1.60   7.0  2.15
1 2019-03-04 16:11:55 2019-03-04 16:19:00           1      0.79   5.0  0.00
2 2019-03-27 17:53:01 2019-03-27 18:00:25           1      1.37   7.5  2.36
3 2019-03-10 01:23:59 2019-03-10 01:49:51           1      7.70  27.0  6.15
4 2019-03-30 13:27:42 2019-03-30 13:37:14           3      2.16   9.0  1.10

   tolls  total   color      payment            pickup_zone  \
0    0.0  12.95  yellow  credit card        Lenox Hill West
1    0.0   9.30  yellow         cash  Upper West Side South
2    0.0  14.16  yellow  credit card          Alphabet City
3    0.0  36.95  yellow  credit card              Hudson Sq
4    0.0  13.40  yellow  credit card           Midtown East

            dropoff_zone pickup_borough dropoff_borough
0    UN/Turtle Bay South      Manhattan       Manhattan
1  Upper West Side South      Manhattan       Manhattan
2           West Village      Manhattan       Manhattan
3         Yorkville West      Manhattan       Manhattan
4         Yorkville West      Manhattan       Manhattan

In [ ]:
print(dfTaxis.info())
print(dfTaxis.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(1), object(6)
memory usage: 703.7+ KB
None
                              pickup                        dropoff  \
count                           6433                           6433
mean   2019-03-16 08:31:28.514223616  2019-03-16 08:45:49.491217408
min              2019-02-28 23:29:03            2019-02-28 23:32:35
25%              2019-03-08 15:50:34            2019-03-08 16:12:51
50%              2019-03-15 21:46:58            2019-03-15 22:06:44
75%              2019-03-23 17:41:38            2019-03-23 17:51:56
max              2019-03-31 23:43:45            2019-04-01 00:13:58
std                              NaN                            NaN

        passengers     distance         fare         tip        tolls  \
count  6433.000000  6433.000000  6433.000000  6433.00000  6433.000000
mean      1.539251     3.024617    13.091073     1.97922     0.325273
min       0.000000     0.000000     1.000000     0.00000     0.000000
25%       1.000000     0.980000     6.500000     0.00000     0.000000
50%       1.000000     1.640000     9.500000     1.70000     0.000000
75%       2.000000     3.210000    15.000000     2.80000     0.000000
max       6.000000    36.700000   150.000000    33.20000    24.020000
std       1.203768     3.827867    11.551804     2.44856     1.415267

             total
count  6433.000000
mean     18.517794
min       1.300000
25%      10.800000
50%      14.160000
75%      20.300000
max     174.820000
std      13.815570

In [ ]:
null = dfTaxis.isnull().sum()
dfTaxis["payment"] = dfTaxis["payment"].bfill().ffill()
dfTaxis["pickup_zone"] = dfTaxis["pickup_zone"].bfill().ffill()
dfTaxis["dropoff_zone"] = dfTaxis["dropoff_zone"].bfill().ffill()
dfTaxis["pickup_borough"] = dfTaxis["pickup_borough"].bfill().ffill()
dfTaxis["dropoff_borough"] = dfTaxis["dropoff_borough"].bfill().ffill()
print(null)

pickup             0
dropoff            0
passengers         0
distance           0
fare               0
tip                0
tolls              0
total              0
color              0
payment            0
pickup_zone        0
dropoff_zone       0
pickup_borough     0
dropoff_borough    0
dtype: int64

In [ ]:
dfTaxis["payment"] = dfTaxis["payment"].map({"cash":"c","credit card":"cd"})
print(dfTaxis.head(5))

               pickup             dropoff  passengers  distance  fare   tip  \
0 2019-03-23 20:21:09 2019-03-23 20:27:24           1      1.60   7.0  2.15
1 2019-03-04 16:11:55 2019-03-04 16:19:00           1      0.79   5.0  0.00
2 2019-03-27 17:53:01 2019-03-27 18:00:25           1      1.37   7.5  2.36
3 2019-03-10 01:23:59 2019-03-10 01:49:51           1      7.70  27.0  6.15
4 2019-03-30 13:27:42 2019-03-30 13:37:14           3      2.16   9.0  1.10

   tolls  total   color payment            pickup_zone           dropoff_zone  \
0    0.0  12.95  yellow      cd        Lenox Hill West    UN/Turtle Bay South
1    0.0   9.30  yellow       c  Upper West Side South  Upper West Side South
2    0.0  14.16  yellow      cd          Alphabet City           West Village
3    0.0  36.95  yellow      cd              Hudson Sq         Yorkville West
4    0.0  13.40  yellow      cd           Midtown East         Yorkville West

  pickup_borough dropoff_borough
0      Manhattan       Manhattan
1      Manhattan       Manhattan
2      Manhattan       Manhattan
3      Manhattan       Manhattan
4      Manhattan       Manhattan

In [ ]:
dfTaxis["color"] = dfTaxis["color"].astype("category")
dfTaxis["payment"] = dfTaxis["payment"].astype("category")
dfTaxis["pickup_zone"] = dfTaxis["pickup_zone"].astype("category")
dfTaxis["dropoff_zone"] = dfTaxis["dropoff_zone"].astype("category")
dfTaxis["pickup_borough"] = dfTaxis["pickup_borough"].astype("category")
dfTaxis["dropoff_borough"] = dfTaxis["dropoff_borough"].astype("category")
print(dfTaxis.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   category
 9   payment          6433 non-null   category
 10  pickup_zone      6433 non-null   category
 11  dropoff_zone     6433 non-null   category
 12  pickup_borough   6433 non-null   category
 13  dropoff_borough  6433 non-null   category
dtypes: category(6), datetime64[ns](2), float64(5), int64(1)
memory usage: 468.4 KB
None

In [ ]:
dfTaxis.drop('tolls', axis=1, inplace=True)
print(dfTaxis.columns)

Index(['pickup', 'dropoff', 'passengers', 'distance', 'fare', 'tip', 'total',
       'color', 'payment', 'pickup_zone', 'dropoff_zone', 'pickup_borough',
       'dropoff_borough'],
      dtype='object')

In [ ]:
print(dfTaxis.sample(10))

                  pickup             dropoff  passengers  distance  fare  \
7    2019-03-22 12:47:13 2019-03-22 12:58:17           0      1.40   8.5
219  2019-03-08 18:08:03 2019-03-08 18:15:42           1      1.40   7.0
4831 2019-03-11 12:12:50 2019-03-11 12:37:34           1     11.80  33.5
4609 2019-03-29 16:06:41 2019-03-29 16:15:20           1      1.00   7.0
307  2019-03-27 16:25:43 2019-03-27 16:35:23           1      0.68   7.5
3883 2019-03-01 20:02:32 2019-03-01 20:08:40           2      0.90   6.0
4711 2019-03-30 12:04:19 2019-03-30 12:25:27           2      3.90  16.0
2925 2019-03-27 14:16:53 2019-03-27 14:26:31           1      0.60   7.5
3587 2019-03-04 09:09:57 2019-03-04 09:20:02           1      1.43   8.5
1441 2019-03-12 15:18:37 2019-03-12 15:36:49           2      2.55  13.5

        tip  total   color payment                    pickup_zone  \
7      0.00  11.80  yellow      cd                    Murray Hill
219    2.25  13.55  yellow      cd                       Kips Bay
4831  10.60  53.16  yellow      cd                Lenox Hill East
4609   2.80  14.10  yellow      cd          Upper East Side South
307    0.00  11.80  yellow       c          Upper East Side South
3883   1.95  11.75  yellow      cd  Sutton Place/Turtle Bay North
4711   5.79  25.09  yellow      cd          Upper West Side North
2925   2.15  12.95  yellow      cd   Penn Station/Madison Sq West
3587   2.95  14.75  yellow      cd          Upper West Side North
1441   0.00  16.80  yellow       c            Lincoln Square West

               dropoff_zone pickup_borough dropoff_borough
7                  Flatiron      Manhattan       Manhattan
219           Alphabet City      Manhattan       Manhattan
4831   Flatbush/Ditmas Park      Manhattan        Brooklyn
4609           Clinton East      Manhattan       Manhattan
307   Upper East Side South      Manhattan       Manhattan
3883               Kips Bay      Manhattan       Manhattan
4711            Murray Hill      Manhattan       Manhattan
2925          Midtown South      Manhattan       Manhattan
3587    Morningside Heights      Manhattan       Manhattan
1441      East Harlem South      Manhattan       Manhattan